/* font-family: 'Lato', sans-serif; */
/* shob font er styles */
*{
    font-family: 'Lato', sans-serif;
}
/* header styles */
.header-bg{
    background:rgba(229, 84, 115, 0.10);
    background-image: url('../flower-shop-assignment-main/flower-shop-assignment-main/image/pngwing\ 10.png');
    height: 820px;
    width: 1450px;
    padding-right: 100px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

}
.header{
    padding-left: 120px;
    padding-right: 700px;
    padding-top: 120px;

}
.header-title{
    font-size: 80px;
    font-weight: 800;
    color: #272727;
}
.header-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.primary-btn{
    padding: 14px 30px;
     background: #E55473;
     border-radius: 6px;
     font-size: 18px;
     color: #FFF;
     
}
.btn{
    padding-top: 15px;
}

.tit-dis{
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title{
    font-size: 40px;
    font-weight: 800;
    color: black;
}
/*  section two styles */
.images{
    display: flex;
    gap: 30px;
    padding-left: 100px;
    padding-bottom: 100px;
}
.img-one{
    background-image:  url('../flower-shop-assignment-main/flower-shop-assignment-main/image/pngwing\ 6.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px ;
    padding:50px 80px;
    height: 400px;
    width: 250px;
}
.img-two{
    background-image: url('../flower-shop-assignment-main/flower-shop-assignment-main/image/pngwing\ 5.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: rgba(5, 151, 160, 0.15); ;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 80px;
    height: 400px;
    width: 250px;

}

.img-three{
    background-image: url('../flower-shop-assignment-main/flower-shop-assignment-main/image/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding:50px 80px;
    height: 400px;
    width: 250px;

}
.title-deco{
    text-decoration: underline;
    font-size: 23px;
    font-weight: 800;
    padding-top: 450px;
    text-align: center;

}

/* section three styles */
.section-three{
    display: flex;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 100px;
    margin-right: 180px;
    padding: 60px;
    
}

.duty{
    text-align: center;
    padding-left: 80px;
}

.discription{
    color: rgba(39, 39, 39, 0.80);
    font-size: 25px;
    font-weight: 600px;
}

/* section four */
.section-four{
    background-color: rgba(229, 84, 115, 0.05);
    background-image: url('../flower-shop-assignment-main/flower-shop-assignment-main/image/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: 1050px;
    height: 500px;
    padding: 80px 0;
    margin-bottom: 100px;
    margin-top: 120px;

}

.discount{
    text-align: center;
    padding-top: 200px;
    padding-right: 700px;
    padding-left: 300px;
}
/* section five  */
.insta{
    text-align: center;
    padding: 0px 500px;
    padding-bottom: 40px;
}
.insta-pic{
    padding: 0 70px;
    padding-bottom: 100px;
}
.insta-pic img{
    padding-left: 20px;

}

/* section six */
.section-six{
    background-image: url('../flower-shop-assignment-main/flower-shop-assignment-main/image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    height: 350px;
    width: 1500px;
    margin-left: 100px;
}
.deals{
    text-align: center;
    padding-top: 100px;
}
.deals input{
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-right: 400px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-right: 10px;
}

/* footer */
footer{
    background: #111010;
    height: 400px;
    margin-top: 100px;
}
.last-dance{
    text-align: center;
    padding-top: 80px;
}
.discription-footer{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding: 0 500px;
}
.discription-footer-2{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400px;
}